<div class="col-lg-12 table-responsive" #TABLE #table>  
    <div style="padding-bottom: 10px;padding-top: 10px;">  
      <div class="row">  
        <div class="col-sm-12">  
          <button (click)="ExportTOExcel()" class="btn btn-success">Excel</button> </div>  
      </div>  
    </div>  
    <table class="table table-bordered">  
      <thead class="thead-dark">  
        <tr>  
            <th>nombre</th> 
            <th>apellido</th> 
            <th>edad</th> 
            <th>genero</th> 
            <th>tipoDoc</th> 
            <th>numDoc</th> 
            <th>codEst</th> 
            <th>estrato</th> 
            <th>formPadres_numeroDocumentoEstudiante</th> 
            <th>formPadres_codigoEstudiante</th> 
            <th>formPadres_nombreTestigo</th> 
            <th>formPadres_numDocTestigo</th> 
            <th>formPadres_email</th> 
            <th>formPadres_contacNum</th> 
            <th>formEstudiante_numeroDocumentoEstudiante</th> 
            <th>formEstudiante_codigoEstudiante</th> 
            <th>formEstudiante_nombreTestigo</th> 
            <th>formEstudiante_numDocTestigo</th> 
            <th>formEstudiante_email</th> 
            <th>formEstudiante_contacNum</th> 
            <th>cuestionario1_p1</th> 
            <th>cuestionario1_p2</th> 
            <th>cuestionario1_p3</th> 
            <th>cuestionario1_p4</th> 
            <th>cuestionario1_p5</th> 
            <th>cuestionario1_p6</th> 
            <th>cuestionario1_p7</th> 
            <th>cuestionario1_p8</th> 
            <th>cuestionario1_p9</th> 
            <th>cuestionario1_p10</th> 
            <th>cuestionario1_p11</th> 
            <th>cuestionario1_p12</th> 
            <th>cuestionario1_p13</th> 
            <th>cuestionario1_p14</th> 
            <th>cuestionario1_p15</th> 
            <th>cuestionario2_p1</th> 
            <th>cuestionario2_p2</th> 
            <th>cuestionario2_p3</th> 
            <th>cuestionario2_p4</th> 
            <th>cuestionario2_p5</th> 
        </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let us of users">  
            <td>{{us.nombre}}</td> 
            <td>{{us.apellido}}</td> 
            <td>{{us.edad}}</td> 
            <td>{{us.genero}}</td> 
            <td>{{us.tipoDoc}}</td> 
            <td>{{us.numDoc}}</td> 
            <td>{{us.codEst}}</td> 
            <td>{{us.estrato}}</td> 
            <td>{{us.formPadres_numeroDocumentoEstudiante}}</td> 
            <td>{{us.formPadres_codigoEstudiante}}</td> 
            <td>{{us.formPadres_nombreTestigo}}</td> 
            <td>{{us.formPadres_numDocTestigo}}</td> 
            <td>{{us.formPadres_email}}</td> 
            <td>{{us.formPadres_contacNum}}</td> 
            <td>{{us.formEstudiante_numeroDocumentoEstudiante}}</td> 
            <td>{{us.formEstudiante_codigoEstudiante}}</td> 
            <td>{{us.formEstudiante_nombreTestigo}}</td> 
            <td>{{us.formEstudiante_numDocTestigo}}</td> 
            <td>{{us.formEstudiante_email}}</td> 
            <td>{{us.formEstudiante_contacNum}}</td> 
            <td>{{us.cuestionario1_p1}}</td> 
            <td>{{us.cuestionario1_p2}}</td> 
            <td>{{us.cuestionario1_p3}}</td> 
            <td>{{us.cuestionario1_p4}}</td> 
            <td>{{us.cuestionario1_p5}}</td> 
            <td>{{us.cuestionario1_p6}}</td> 
            <td>{{us.cuestionario1_p7}}</td> 
            <td>{{us.cuestionario1_p8}}</td> 
            <td>{{us.cuestionario1_p9}}</td> 
            <td>{{us.cuestionario1_p10}}</td> 
            <td>{{us.cuestionario1_p11}}</td> 
            <td>{{us.cuestionario1_p12}}</td> 
            <td>{{us.cuestionario1_p13}}</td> 
            <td>{{us.cuestionario1_p14}}</td> 
            <td>{{us.cuestionario1_p15}}</td> 
            <td>{{us.cuestionario2_p1}}</td> 
            <td>{{us.cuestionario2_p2}}</td> 
            <td>{{us.cuestionario2_p3}}</td> 
            <td>{{us.cuestionario2_p4}}</td> 
            <td>{{us.cuestionario2_p5}}</td> 
        </tr>  
      </tbody>  
    </table>  
  </div>  
