<div class="main-container">
    <header class="header">
      <img src="./assets/img/logoUSTA22.png" alt="usta logo" class="logo">
      <img src="./assets/img/psicologia.png" alt="psicología logo" class="logo logo--left">
    </header>
    <div class="intro" id="intro" *ngIf="intro">
      <h1>Síndrome de burnout, funcionamiento familiar y rendimiento académico en estudiantes del programa de psicología de la Universidad Santo Tomás - Bogotá
      </h1>
      <h2 class="my-5">FACULTAD DE PSICOLOGÍA 
        UNIVERSIDAD SANTO TOMÁS (USTA)
        </h2>
      <h2 class="mb-3">Autoras:</h2>
      <p class="autoras">Camila Andrea Rada Combariza</p>
      <p class="autoras">Julieth Carolina Garzon Callejas</p>
      <p class="autoras">Karen Angélica Laverde Corredor</p>
      <h2 class="my-3">Director:</h2>
      <p class="autoras">Javier Vicente Gialdo Jaramillo</p>
  
      <p class="intro--description">En la presente página web, encontrarás los consentimientos informados y cuestionarios necesarios para hacer parte de la presente investigación, agradecemos mucho tu tiempo y colaboración,  tu participación es muy importante para nosotros. Recuerda leer muy bien antes de avanzar, la totalidad de la participación no te llevará mas de una hora. A continuación tendrás la opción de aceptar o no aceptar, libremente tu participación</p>
      <button class="btn btn--green" (click)="displayPersonForm()">Siguiente &rarr;</button>
    </div>
    <div class="person" id="person" *ngIf="personInfo">
        <form autocomplete="off" [formGroup]="forma" (ngSubmit)="save()">
          <div class="formulario">
            <div class="group">
              <div class="form-group">
                <label for="" class="">Nombre Completo</label>
                <div class="input-container">
                  <input type="text" 
                  class="form-control" 
                  placeholder="Nombre Completo"
                  formControlName="nombre"
                  [class.is-invalid]="nombreNoValido">
                  <small *ngIf="nombreNoValido" class="text-danger">
                    Ingrese 5 caracteres como mínimo
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="">Edad</label>
                <div class="input-container">
                  <input type="number" 
                  class="form-control" 
                  placeholder="Ingrese su edad"
                  formControlName="edad"
                  [class.is-invalid]="edadNoValido">
                  <small *ngIf="edadNoValido" class="text-danger">
                    Ingrese una edad valida
                  </small>
                </div>
            </div>

            </div>
            <div class="group">
              <div class="form-group">
                <label for="gender" class="">Genero</label>
                <div class="input-container">
                  <select name="gender" id="gender" formControlName="genero" [class.is-invalid]="generoNoValido">
                    <option value="" disabled>Selecciona tu genero</option>
                    <option value="M">masculino</option>
                    <option value="F">femenino</option>
                    <option value="O">otro</option>
                  </select>
                  <small *ngIf="generoNoValido" class="text-danger">
                    Seleccione una opción
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label for="tipoDoc" class="">Tipo de documento de identificación</label>
                <div class="input-container">
                  <select name="tipoDoc" id="tipoDoc" formControlName="tipoDoc" [class.is-invalid]="tipoDocNoValido">
                    <option value="" disabled>Selecciona tu tipo de identificación</option>
                    <option value="CC">Cédula de ciudadanía</option>
                    <option value="TI">Tarjeta de identidad</option>
                  </select>
                  <small *ngIf="tipoDocNoValido" class="text-danger">
                    Seleccione una opción
                  </small>
                </div>
              </div>
            </div>
            <div class="group">
              <div class="form-group">
                <label for="numDoc" class="">Número de documento de identificacón</label>
                <div class="input-container">
                  <input type="number" 
                  class="form-control" 
                  placeholder="Escriba su número de documento"
                  formControlName="numDoc"
                  [class.is-invalid]="numDocNoValido">
                  <small *ngIf="numDocNoValido" class="text-danger">
                    Ingrese una número valido
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label for="codEst" class="col2 col-form-label">Código estudiantil</label>
                <div class="input-container">
                  <input type="number" 
                  class="form-control" 
                  placeholder="Escriba su código estudiantil"
                  formControlName="codEst"
                  [class.is-invalid]="codEstNoValido">
                  <small *ngIf="codEstNoValido" class="text-danger">
                    Ingrese una número valido
                  </small>
                </div>
              </div>
            </div>
            <div class="group">
              <div class="form-group row">
                <label for="estrato" class="">Estrato socioeconómico</label>
                <div class="input-container">
                  <select name="estrato" id="estrato" formControlName="estrato" [class.is-invalid]="estratoNoValido">
                    <option value="" disabled>Selecciona tu estrato</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                  <small *ngIf="estratoNoValido" class="text-danger">
                    Seleccione una opción
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label class="">&nbsp;</label>
                <div class="input-group">
                  <button type="submit" class="btn btn-outline-primary btn-block">
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </div>

        </form>
    </div>
  </div>