*,
*::after,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

////////// variables /////////
:root {
    --color-primary: #62a5eb;
    --color-primary-light: #FF3366;
    --color-primary-dark: #2472C6;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

    --line: 1px solid var(--color-grey-light-2);
}

// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
$color-orange: rgb(220, 134, 5);

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

/////////////////////// MIXINS ////////////
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



// MEDIA QUIERY MANAGER

/*
0 - 600px:   Phone
600 - 900px:    Tablet portrait 
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :  Big desktop
*/

/*
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/
@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content
        }

        ; //600px = 37.5em
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content
        }

        ; //900px = 56.25em
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content
        }

        ; //1200px = 75em
    }

    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content
        }

        ; //1800px = 112.5em
    }
}

////////////////////// Base ////////////////////////////


html {
    // This defines what 1rem is
    font-size: 62.5%; //1rem = 10px;

    @include respond (big-desktop) {
        font-size: 80%; //1rem = 12px;
    }

    @include respond (tab-land) {
        font-size: 56.25%; //1 rem = 9px;
    }

    @include respond (tab-port) {
        font-size: 50%; // 1 rem = 8px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    // color: var(--color-grey-dark-2);
    color: $color-black;
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}




////////////////////// Utilities ////////////////////////////

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;

    @include respond(phone) {
        margin-bottom: .5rem !important;
    }
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

//////////////// Animiations ////////////////////

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(3px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// COMPS ////
.main-container {
    max-width: 120rem;
    margin: 4rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 20rem;
    border-radius: 40px;
    overflow: hidden;
    position: relative;

    @include respond(phone) {
        border-radius: 20px;
    }


    .con {
        display: block;
        position: relative;
        width: 90%;
        margin: 5rem auto;
        background-color: rgba($color-white, .2);
        box-shadow: 0 1rem 2rem rgba($color-black, .3);
        color: $color-black;
        padding: 2.5rem;
        border-radius: 30px;

        @include respond(phone) {
            border-radius: 15px;
        }

        h1,
        h2,
        h3 {
            text-align: center;
            font-weight: 600;
        }

        p,
        li {
            font-size: 1.6rem;
            text-align: justify;
        }

        li {
            margin-left: 1.6rem;
        }
        .alert {
            width: auto;
            position: absolute;
            top: -27px;
            left: 2%;
            font-size: 1.2rem;
        
            @include respond(phone) {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.header {
    font-size: 1.4rem;
    height: 12rem;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    height: 8.25rem;
    margin-left: 2rem;

    &--left {
        margin-right: 2rem;
    }

    @include respond(phone) {
        height: 5.25rem;
    }
}

.intro {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    h1,
    h2 {
        text-transform: uppercase;
        color: $color-black;
    }

    .autoras {
        color: $color-black;
        font-size: 2.2rem;
    }

    &--description {
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 2rem;
        color: $color-black;
    }
}

/////////// Person //////////
.formulario {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.group {
    display: flex;

    @include respond(phone) {
        flex-direction: column;
    }
}

.input-container {
    width: 100%;
    text-align: center;
}

.input-group {
    width: 100%;

    &-person {
        justify-content: center;
        // width: 50%;

        @include respond(phone) {
            width: 100%;
        }
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 50%;

    @include respond(phone) {
        align-items: flex-start;
        width: 100%;
    }

    label {
        color: $color-black;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    input,
    select {
        width: 60%;
        font-size: 1.5rem;
        font-family: inherit;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        transition: all .3s;
        margin: 0 auto;

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        @include respond(phone) {
            width: 100%;
        }
    }

    select {
        color: #6c757d;
        opacity: 1;
    }

    .text-danger {
        display: block;
        text-align: center;
    }

    .email {
        font-weight: 900;
        font-size: 2rem;

        &::-webkit-input-placeholder,
        &::placeholder {
            font-size: 1.5rem;
        }
    }
}

.test {
    width: 90%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;

    h1,
    h3,
    h2 {
        color: $color-black;
    }

    h1 {
        text-align: center;
    }

    .question-box {
        width: 80%;
        margin: 0 auto;
        margin-top: 1.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include respond(phone) {
            width: 100%;
            flex-direction: column;
            align-items: inherit;
            text-align: left;
        }

        .question {
            padding-right: 1.5rem;

            @include respond(phone) {
                padding-right: 0;
            }
        }

        .answer-box {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .answer {
                &:not(:last-child) {
                    margin-right: 2rem;
                }

                .form__radio-input {
                    display: none;
                }

                .form__radio-label {
                    font-size: $default-font-size;
                    cursor: pointer;
                    position: relative;
                    padding-right: 2.5rem;

                    @include respond(phone) {
                        font-size: 2.3rem;
                    }
                }

                .form__radio-button {
                    height: 2rem;
                    width: 2rem;
                    border: 2.5px solid $color-primary;
                    border-radius: 50%;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: .2rem;

                    @include respond(phone) {
                        height: 2.5rem;
                        width: 2.5rem;
                        right: -4px;
                        top: 0.6rem;
                    }

                    &::after {
                        content: "";
                        display: block;
                        height: 1rem;
                        width: 1rem;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: $color-primary;
                        opacity: 0;
                        transition: opacity .2s;
                    }
                }

                .form__radio-input:checked~.form__radio-label .form__radio-button::after {
                    opacity: 1;
                }
            }

        }

    }


    p {
        font-size: 2rem;
    }

    .btn-success {
        margin-top: 2rem;
        align-self: flex-end;
        margin-right: 10%;

        @include respond(phone) {
            align-self: center;
        }
    }
}

.con1, .con2, .person, .test1, .test2 {
    opacity: 0;
}

.modal {
    &-test {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3e3d3ba8;
        z-index: 5;
    }

    &-done {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3e3d3ba8;
        z-index: 5;
        .modal-box{
            max-width: 325px;
            text-align: center;
        } 
        .modal-header {
            position: relative;
            display: flex;
            justify-content: center;
            .check {
                color: #55c57a;
                font-size: 10rem;
            }
            .close {
                position: absolute;
                cursor: pointer;
                top: 5px;
                right: 5px;
            }
        }
        .modal-body {
            font-size: 2rem;
            padding: 1rem;
        }
    }

    

    &-box {
        background-color: $color-white;
        width: fit-content;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 15px;
        .modal-header {
            position: relative;
            display: flex;
            justify-content: center;
            .error {
                color: red;
                font-size: 10rem;
            }
            .close {
                position: absolute;
                cursor: pointer;
                top: 5px;
                right: 5px;
            }
        }

        .modal-body {
            font-size: 2rem;
            padding: 1rem;
        }
    }
}

///////// button ///////
.btn {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: var(--color-primary);
        color: $color-white;

        &::after {
            background-color: var(--color-primary);
        }
    }

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 10rem;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveDown .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &-block {
        width: fit-content;
        border: 1px solid #007bff;
    }
}

.btn-outline-success {
    border: 1px solid rgb(40, 167, 69);
}

.btn-outline-danger {
    border: 1px solid rgb(220, 53, 69);
}

.btn-text {

    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}